In [2]:
import timeit
import numpy as np 
import pandas as pd 
import progressbar
start = timeit.default_timer()
file_name = "./tabular_dataset/heart disease classification dataset.csv"
df = pd.read_csv(file_name)
print(df.isnull().values.any())
df = df.dropna()
print(df.isnull().values.any())

True
False

In [3]:
df.columns

Index(['Unnamed: 0', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
df

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,male,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,1,37,male,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,2,41,female,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,3,56,male,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
5,5,57,male,0,140.0,192.0,0,1,148.0,0,0.4,1,0,1,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,63,female,0,124.0,197.0,0,1,136.0,1,0.0,1,0,2,no
298,298,57,female,0,140.0,241.0,0,1,123.0,1,0.2,1,0,3,no
299,299,45,male,3,110.0,264.0,0,1,132.0,0,1.2,1,0,3,no
300,300,68,male,0,144.0,193.0,1,1,141.0,0,3.4,1,2,3,no
302,302,57,female,1,130.0,236.0,0,0,174.0,0,0.0,1,1,2,no

In [5]:
i=0
for typ in df.sex.unique():    
    df.loc[df["sex"]==typ,"sex"]=i
    print(typ, i)
    i=i+1
print(df)

male 0
female 1
     Unnamed: 0  age sex  cp  trestbps   chol  fbs  restecg  thalach  exang  \
0             0   63   0   3     145.0  233.0    1        0    150.0      0
1             1   37   0   2     130.0  250.0    0        1    187.0      0
2             2   41   1   1     130.0  204.0    0        0    172.0      0
3             3   56   0   1     120.0  236.0    0        1    178.0      0
5             5   57   0   0     140.0  192.0    0        1    148.0      0
..          ...  ...  ..  ..       ...    ...  ...      ...      ...    ...
296         296   63   1   0     124.0  197.0    0        1    136.0      1
298         298   57   1   0     140.0  241.0    0        1    123.0      1
299         299   45   0   3     110.0  264.0    0        1    132.0      0
300         300   68   0   0     144.0  193.0    1        1    141.0      0
302         302   57   1   1     130.0  236.0    0        0    174.0      0

     oldpeak  slope  ca  thal target
0        2.3      0   0     1    yes
1        3.5      0   0     2    yes
2        1.4      2   0     2    yes
3        0.8      2   0     2    yes
5        0.4      1   0     1    yes
..       ...    ...  ..   ...    ...
296      0.0      1   0     2     no
298      0.2      1   0     3     no
299      1.2      1   0     3     no
300      3.4      1   2     3     no
302      0.0      1   1     2     no

[293 rows x 15 columns]

In [6]:
i=0
for typ in df.target.unique():    
    df.loc[df["target"]==typ,"target"]=i
    print(typ, i)
    i=i+1
print(df)

yes 0
no 1
     Unnamed: 0  age sex  cp  trestbps   chol  fbs  restecg  thalach  exang  \
0             0   63   0   3     145.0  233.0    1        0    150.0      0
1             1   37   0   2     130.0  250.0    0        1    187.0      0
2             2   41   1   1     130.0  204.0    0        0    172.0      0
3             3   56   0   1     120.0  236.0    0        1    178.0      0
5             5   57   0   0     140.0  192.0    0        1    148.0      0
..          ...  ...  ..  ..       ...    ...  ...      ...      ...    ...
296         296   63   1   0     124.0  197.0    0        1    136.0      1
298         298   57   1   0     140.0  241.0    0        1    123.0      1
299         299   45   0   3     110.0  264.0    0        1    132.0      0
300         300   68   0   0     144.0  193.0    1        1    141.0      0
302         302   57   1   1     130.0  236.0    0        0    174.0      0

     oldpeak  slope  ca  thal target
0        2.3      0   0     1      0
1        3.5      0   0     2      0
2        1.4      2   0     2      0
3        0.8      2   0     2      0
5        0.4      1   0     1      0
..       ...    ...  ..   ...    ...
296      0.0      1   0     2      1
298      0.2      1   0     3      1
299      1.2      1   0     3      1
300      3.4      1   2     3      1
302      0.0      1   1     2      1

[293 rows x 15 columns]

In [8]:
df = df.drop(columns=["Unnamed: 0"])

In [9]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,0,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,0
1,37,0,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,0
2,41,1,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,0
3,56,0,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,0
5,57,0,0,140.0,192.0,0,1,148.0,0,0.4,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,63,1,0,124.0,197.0,0,1,136.0,1,0.0,1,0,2,1
298,57,1,0,140.0,241.0,0,1,123.0,1,0.2,1,0,3,1
299,45,0,3,110.0,264.0,0,1,132.0,0,1.2,1,0,3,1
300,68,0,0,144.0,193.0,1,1,141.0,0,3.4,1,2,3,1
302,57,1,1,130.0,236.0,0,0,174.0,0,0.0,1,1,2,1

In [10]:

df.to_csv('./tabular_dataset/trieu_data_processed.csv', index=False)
stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  101.19084817206021